#textDisplay {
	font-size: 50px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 2%;
	padding: 10px;
	width: 80%;
}

.content {
	display: flex;
	margin: auto;
	margin-top: 1%;
	width: 80%;
	padding: 10px;
	justify-content: space-evenly;
}

#horse {
	width: 30%;
	height: 30%;
}

#urfavs {
	width: 20%;
	height: 20%;
}

#peacecryswucket {
	width: 20%;
	height: 20%;
}
